
$mybgcolor:gray;

.mybgcolor{
    background-color: $mybgcolor;
}

@import "./node_modules/bootstrap/scss/bootstrap";


.custom-btn{
    width: 7rem;
    background-color: green;
}


.c-item {
    height: 450px;
}

.c-img {
    height: 100%;
    object-fit: cover;

}

.btn-custom {
    width: 200px;
}

.cm-container {

    height: 250px;

    background-color: rgb(245, 245, 103);
}

.cm-w{
width: 650px;
}

.cm-container-2{
    height: 400px;
    background-color: orange;
}

