
.mybgcolor{
    background-image: url("https://img.freepik.com/premium-photo/abstract-background-images-wallpaper-ai-generated_643360-43267.jpg?w=360");
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 3px 5px 25px black;
}

.mycustomreview{
     background-image: url("https://img.freepik.com/free-vector/realistic-white-golden-geometric-background_79603-2032.jpg?ga=GA1.1.1104229070.1746894629&semt=ais_hybrid&w=740");
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;
}

@import "./node_modules/bootstrap/scss/bootstrap";


.custom-btn{
    width: 7rem;
    background-color: green;
}


.c-item {
    height: 450px;
}

.c-img {
    height: 100%;
    object-fit: cover;

}

.btn-custom {
    width: 200px;
}

.cm-container {

    height: 250px;

    background-color: rgb(245, 245, 103);
}

.cm-w{
width: 650px;
background-image: url("https://img.freepik.com/premium-photo/marble-ink-abstract-art-from-exquisite-original-painting-abstract-background_31965-70955.jpg");
background-size: cover;
font-weight: 500;

}

.cm-container-2{
    height: 400px;
    background-image: url("https://wallpapers.com/images/hd/black-and-white-abstract-hfgro81a61bvhu61.jpg");
    background-size: cover;

}



